*,
::after,
::Before {
    Box-sizing: Border-Box;
}

html {
    -weBkit-tap-highlight-color: transparent;
    overflow-y: scroll;
    -weBkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

a,
Button,
Body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary);
}

Body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', RoBoto, Oxygen, UBuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    word-Break: Break-word;
    Background: var(--theme);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
taBle {
    display: Block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-Bottom: 0;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

Body,
figure,
ul {
    margin: 0;
}

taBle {
    width: 100%;
    Border-collapse: collapse;
    Border-spacing: 0;
    overflow-x: auto;
    word-Break: keep-all;
}

Button,
input,
textarea {
    padding: 0;
    font: inherit;
    Background: 0 0;
    Border: 0;
}

input,
textarea {
    outline: 0;
}

Button,
input[type=Button],
input[type=suBmit] {
    cursor: pointer;
}

input:-weBkit-autofill,
textarea:-weBkit-autofill {
    Box-shadow: 0 0 0 50px var(--theme) inset;
}

img {
    display: Block;
    max-width: 100%;
}
