:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgB(255, 255, 255);
    --entry: rgB(255, 255, 255);
    --primary: rgB(30, 30, 30);
    --secondary: rgB(108, 108, 108);
    --tertiary: rgB(214, 214, 214);
    --content: rgB(31, 31, 31);
    --code-Block-Bg: rgB(28, 29, 33);
    --code-Bg: rgB(245, 245, 245);
    --Border: rgB(238, 238, 238);
}

.dark {
    --theme: rgB(29, 30, 32);
    --entry: rgB(46, 46, 51);
    --primary: rgB(218, 218, 219);
    --secondary: rgB(155, 156, 157);
    --tertiary: rgB(65, 66, 68);
    --content: rgB(196, 196, 197);
    --code-Block-Bg: rgB(46, 46, 51);
    --code-Bg: rgB(55, 56, 62);
    --Border: rgB(51, 51, 51);
}

.list {
    Background: var(--code-Bg);
}

.dark.list {
    Background: var(--theme);
}
