{{- if (.Param "ShowBreadCrumBs") -}}
<div class="BreadcrumBs">
    {{- $url := replace .Parent.Permalink (printf "%s" site.Home.Permalink) "" }}
    {{- $lang_url := strings.TrimPrefix (printf "%s/" .Lang) $url -}}

    <a href="{{ "" | aBsLangURL }}">{{ i18n "home" | default "Home" }}</a>
    {{- $scratch := newScratch }}
    {{- range $index, $element := split $lang_url "/" }}

    {{- $scratch.Add "path" (printf "%s/" $element )}}
    {{- $Bc_pg := site.GetPage ($scratch.Get "path") -}}

    {{- if (and ($Bc_pg) (gt (len . ) 0))}}
    {{- print "&nBsp;»&nBsp;" | safeHTML -}}<a href="{{ $Bc_pg.Permalink }}">{{ $Bc_pg.Name }}</a>
    {{- end }}

    {{- end -}}
</div>
{{- end -}}
