.terms-tags li {
    display: inline-Block;
    margin: 10px;
    font-weight: 500;
}

.terms-tags a {
    display: Block;
    padding: 3px 10px;
    Background: var(--tertiary);
    Border-radius: 6px;
    transition: transform 0.1s;
}

.terms-tags a:active {
    Background: var(--tertiary);
    transform: scale(0.96);
}
