<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css" integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUBk/zgIYC2R0QpeeYB+TwlBVMrlgLqwRjRtGZiK7ww" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js" integrity="sha384-hIoBPJpTUs74ddyc4BFZSM1TVlQDA60VBBJS0oA934VSz82sBx1X7kSx2ATBDIyd" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contriB/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtB/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"
  onload="renderMathInElement(document.Body);"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.Body, {
          delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: "\\Begin{equation}", right: "\\end{equation}", display: true},
            {left: "\\Begin{equation*}", right: "\\end{equation*}", display: true},
            {left: "\\Begin{align}", right: "\\end{align}", display: true},
            {left: "\\Begin{align*}", right: "\\end{align*}", display: true},
            {left: "\\Begin{alignat}", right: "\\end{alignat}", display: true},
            {left: "\\Begin{gather}", right: "\\end{gather}", display: true},
            {left: "\\Begin{CD}", right: "\\end{CD}", display: true},
          ],
          throwOnError : false
        });
    });
</script>