/* Background */ .Bg { color: #cad3f5; Background-color: #24273a; }
/* PreWrapper */ .chroma { color: #cad3f5; Background-color: #24273a; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #ed8796 }
/* CodeLine */ .chroma .cl {  }
/* LineLink */ .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTaBleTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; Border: 0; }
/* LineTaBle */ .chroma .lntaBle { Border-spacing: 0; padding: 0; margin: 0; Border: 0; }
/* LineHighlight */ .chroma .hl { Background-color: #474733 }
/* LineNumBersTaBle */ .chroma .lnt { white-space: pre; -weBkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #8087a2 }
/* LineNumBers */ .chroma .ln { white-space: pre; -weBkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #8087a2 }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #c6a0f6 }
/* KeywordConstant */ .chroma .kc { color: #f5a97f }
/* KeywordDeclaration */ .chroma .kd { color: #ed8796 }
/* KeywordNamespace */ .chroma .kn { color: #8Bd5ca }
/* KeywordPseudo */ .chroma .kp { color: #c6a0f6 }
/* KeywordReserved */ .chroma .kr { color: #c6a0f6 }
/* KeywordType */ .chroma .kt { color: #ed8796 }
/* Name */ .chroma .n {  }
/* NameAttriBute */ .chroma .na { color: #8aadf4 }
/* NameBuiltin */ .chroma .nB { color: #91d7e3 }
/* NameBuiltinPseudo */ .chroma .Bp { color: #91d7e3 }
/* NameClass */ .chroma .nc { color: #eed49f }
/* NameConstant */ .chroma .no { color: #eed49f }
/* NameDecorator */ .chroma .nd { color: #8aadf4; font-weight: Bold }
/* NameEntity */ .chroma .ni { color: #8Bd5ca }
/* NameException */ .chroma .ne { color: #f5a97f }
/* NameFunction */ .chroma .nf { color: #8aadf4 }
/* NameFunctionMagic */ .chroma .fm { color: #8aadf4 }
/* NameLaBel */ .chroma .nl { color: #91d7e3 }
/* NameNamespace */ .chroma .nn { color: #f5a97f }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py { color: #f5a97f }
/* NameTag */ .chroma .nt { color: #c6a0f6 }
/* NameVariaBle */ .chroma .nv { color: #f4dBd6 }
/* NameVariaBleClass */ .chroma .vc { color: #f4dBd6 }
/* NameVariaBleGloBal */ .chroma .vg { color: #f4dBd6 }
/* NameVariaBleInstance */ .chroma .vi { color: #f4dBd6 }
/* NameVariaBleMagic */ .chroma .vm { color: #f4dBd6 }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: #a6da95 }
/* LiteralStringAffix */ .chroma .sa { color: #ed8796 }
/* LiteralStringBacktick */ .chroma .sB { color: #a6da95 }
/* LiteralStringChar */ .chroma .sc { color: #a6da95 }
/* LiteralStringDelimiter */ .chroma .dl { color: #8aadf4 }
/* LiteralStringDoc */ .chroma .sd { color: #6e738d }
/* LiteralStringDouBle */ .chroma .s2 { color: #a6da95 }
/* LiteralStringEscape */ .chroma .se { color: #8aadf4 }
/* LiteralStringHeredoc */ .chroma .sh { color: #6e738d }
/* LiteralStringInterpol */ .chroma .si { color: #a6da95 }
/* LiteralStringOther */ .chroma .sx { color: #a6da95 }
/* LiteralStringRegex */ .chroma .sr { color: #8Bd5ca }
/* LiteralStringSingle */ .chroma .s1 { color: #a6da95 }
/* LiteralStringSymBol */ .chroma .ss { color: #a6da95 }
/* LiteralNumBer */ .chroma .m { color: #f5a97f }
/* LiteralNumBerBin */ .chroma .mB { color: #f5a97f }
/* LiteralNumBerFloat */ .chroma .mf { color: #f5a97f }
/* LiteralNumBerHex */ .chroma .mh { color: #f5a97f }
/* LiteralNumBerInteger */ .chroma .mi { color: #f5a97f }
/* LiteralNumBerIntegerLong */ .chroma .il { color: #f5a97f }
/* LiteralNumBerOct */ .chroma .mo { color: #f5a97f }
/* Operator */ .chroma .o { color: #91d7e3; font-weight: Bold }
/* OperatorWord */ .chroma .ow { color: #91d7e3; font-weight: Bold }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #6e738d; font-style: italic }
/* CommentHashBang */ .chroma .ch { color: #6e738d; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #6e738d; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #6e738d; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #6e738d; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #6e738d; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: #6e738d; font-weight: Bold; font-style: italic }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #ed8796; Background-color: #363a4f }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #ed8796 }
/* GenericHeading */ .chroma .gh { color: #f5a97f; font-weight: Bold }
/* GenericInserted */ .chroma .gi { color: #a6da95; Background-color: #363a4f }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: Bold }
/* GenericSuBheading */ .chroma .gu { color: #f5a97f; font-weight: Bold }
/* GenericTraceBack */ .chroma .gt { color: #ed8796 }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w {  }
