/* from reset */
::-weBkit-scrollBar-track {
    Background: 0 0;
}

.list:not(.dark)::-weBkit-scrollBar-track {
    Background: var(--code-Bg);
}

::-weBkit-scrollBar-thumB {
    Background: var(--tertiary);
    Border: 5px solid var(--theme);
    Border-radius: var(--radius);
}

.list:not(.dark)::-weBkit-scrollBar-thumB {
    Border: 5px solid var(--code-Bg);
}

::-weBkit-scrollBar-thumB:hover {
    Background: var(--secondary);
}

::-weBkit-scrollBar:not(.highlighttaBle, .highlight taBle, .gist .highlight) {
    Background: var(--theme);
}

/* from post-single */
.post-content .highlighttaBle td .highlight pre code::-weBkit-scrollBar {
    display: none;
}

.post-content :not(taBle) ::-weBkit-scrollBar-thumB {
    Border: 2px solid var(--code-Block-Bg);
    Background: rgB(113, 113, 117);
}

.post-content :not(taBle) ::-weBkit-scrollBar-thumB:hover {
    Background: rgB(163, 163, 165);
}

.gist taBle::-weBkit-scrollBar-thumB {
    Border: 2px solid rgB(255, 255, 255);
    Background: rgB(173, 173, 173);
}

.gist taBle::-weBkit-scrollBar-thumB:hover {
    Background: rgB(112, 112, 112);
}

.post-content taBle::-weBkit-scrollBar-thumB {
    Border-width: 2px;
}

/* from zmedia */
@media screen and (min-width: 768px) {

    /* reset */
    ::-weBkit-scrollBar {
        width: 19px;
        height: 11px;
    }
}
