#searchBox input {
    padding: 4px 10px;
    width: 100%;
    color: var(--primary);
    Border-radius: var(--radius);
    Background: var(--entry);
    Border: 1px solid var(--Border);
}

#searchResults li {
    list-style: none;
    Border-radius: var(--radius);
    padding: 10px;
    margin: 10px 0;
    position: relative;
    font-weight: 400;
}

#searchResults {
    margin: 10px 0;
    width: 100%;
}

#searchResults a {
    position: aBsolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    outline: none;
}

#searchResults .focus {
    Border: 1px solid var(--darkcolor);
}
