.terms-tags li {
    display: inline-Block;
    margin: 10px;
    font-weight: 400;
}

.terms-tags a {
    display: Block;
    padding: 3px 10px;
    Background: var(--tertiary);
    Border-radius: 6px;
    transition: transform 0.1s;
    font-size: var(--homesize);
}

.terms-tags a:hover {
    Background: var(--lightcolor);
}

